/* 노멀라이징 */
*{
    margin: 0 ;
    padding: 0 ;
  }
  ul , li{
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .row::after{
    clear: both;
    content: "" ;
    display: block ;
  }
  .main-inner{
    width: 1300px;
    margin: 0 auto;
  }
  .main .main-title{
    position: relative;
    line-height: 1;
  }
  .main .main-title h3{
    color: #151515;
    font-size: 42px;
    font-weight: 700;
  }
/* 스타일 */
.header-main-wrap{
  width: 1600px;
  margin: 0 auto;
  position: relative;
}
.header-main-wrap>.header-main{
  text-align: center;
}
.header-main-wrap>.header-main>.left{
  position: absolute;
  left: 0;
  top: 0;
}
.header-main-wrap>.header-main>.left>ul>li{
  margin-right: 10px;
  margin-top: 20px;
}
.header-main-wrap>.header-main>.left>ul>li:last-child{
  margin-right: 0px;
}
.header-main-wrap>.header-main>.left>ul>li>a{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}
.header-main-wrap>.header-main>.logo{
  display: inline-block;
  position: relative;
  padding-top: 24px;
}
.header-main-wrap>.header-main>.right{
  width: 180px;
  height: 59px;
  position: absolute;
  top: 20px;
  right: 0;
}.header-main-wrap>.header-main>.right>ul>li{
  margin-left: 25px;
}
}.header-main-wrap>.header-main>.right>ul>li:first-child{
  margin-left: 0;
}
.header-main-wrap>.header-main>.right>ul>.serch{
  width: 29px;
  height: 30px;
  background-image: url(../img/sp_layout.png);
  background-size: 105px 95px;
  background-repeat: no-repeat;
  background-position: -76px 0px;
}
.header-main-wrap>.header-main>.right>ul>.mypage{
  width: 29px;
  height: 30px;
  background-image: url(../img/sp_layout.png);
  background-size: 105px 95px;
  background-repeat: no-repeat;
  background-position: -76px -30px;
}
.header-main-wrap>.header-main>.right>ul>.basket{
  width: 35px;
  height: 35px;
  background-image: url(../img/sp_layout.png);
  background-size: 105px 95px;
  background-repeat: no-repeat;
  background-position: -38px -38px;
}
.nav-bar{
  bottom: 40px;
  position: relative;
  font-size: 20px;
}
.nav-bar>.all-menu-box img{
  display: block;
  width: 28px;
  height: 27px;
  background-color: purple;
  border-radius: 50%;
  margin-right: 10px;
}
.nav-bar>.nav-left{
  margin-right: 10px;
}
.nav-bar>.nav-left>ul>li{
  margin-right: 10px;
  margin-left: 10px;
}
.nav-bar>.nav-right>ul>li{
  margin-right: 10px;
  margin-left: 10px;
}
.nav-bar>.nav-right>ul>li>a{
  color: #1864b2
}
.nav-bar>.business-box{
  float: right;
  width: 140px;
  height: 40px;
  background-color: #f72a66;
  color: white;
  vertical-align: middle;
  line-height: 40px;
  border-radius: 10px;
}
.nav-menu-wrap{
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
}
.nav-menu-wrap.active{
  display: block;
}
.nav-menu .left-box{
  width: 50%;
}.nav-menu .left-box>ul>li{
  width: 20%;
  padding: 15px;
}
.nav-menu .left-box>ul>li>a{
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  line-height: 1;
}
.nav-menu .left-box>ul>li>ul>li{
  padding-top: 20px;
  box-sizing: border-box;
}
.nav-menu .right-box{
  width: 50%;
}
.nav-menu .right-box>ul>li{
  width: 33.33%;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}
.nav-menu .right-box>ul>li>a{
  font-size: 20px;
  font-weight: bold;
}
/* slider 시작 */
.slider-wrap{
  width: 1600px;
  margin: 0 auto;
  position: relative;
}.slider-wrap>.slider .content{
  width: 100%;
  margin-right: 20px;
  margin-left: 20px;
}
.slider-wrap>.slider .content>img{
  width: 100%;
  display:block;
  margin: 0 auto;
}
.slider-wrap .left-btn{
  position:absolute;
  top:50%;
  left:0;
  z-index:999;
  transform: translateY(-50%);
}
.slider-wrap .right-btn{
  position:absolute;
  top:50%;
  right:0;
  z-index:999;
  transform: translateY(-50%);
}
.slider-wrap .slider .slick-list{
  overflow: visible;
}
.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  width: 100%;
}
.dots>.dot{
  width: 10px;
  height: 10px;
  background-color: #002e6a;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.dots>.dot.active{
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: solid 2px #002e6a;
}
.dots>.state-btn>.play{
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
}
.dots>.state-btn>.play::after{
  position: absolute;
  display: block;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #002e6a;
  left: 50%;
  transform: translateX(-50%);
}
.dots>.state-btn>.play.active{
  display: block;
}
.dots>.state-btn>.pause{
  display: none;
  width: 20px;
  height: 20px;
}
.dots>.state-btn>.pause::after{
  content: "";
  display: block;
  width: 10px;
  height: 20px;
  margin: 0 auto;
  border-left: 3px solid #002e6a;
  border-right: 3px solid #002e6a;
  box-sizing: border-box;
}
.dots>.state-btn>.pause.active{
  display: block;
}
.main-box{
  margin-top: 70px;
}
.main-quick-menu{
  text-align: center;
}
.main-quick-menu .main-inner{
  position: relative;
  padding: 0 30px;
  box-sizing: border-box;
}
.slider-quick{
  margin: 0 auto;
}
.prev-btn{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.next-btn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.main-box2{
  margin-top: 100px;
}
.hot-deal{
  position: relative;
  min-height: 700px;
}
.hot-deal .main-inner{
  position: relative;
  width: 100%;
}

.hot-deal .hotdeal-txtbox{
  width: 1300px;
  margin: 0 auto;
}

.hot-deal .hotdeal-txtbox .main-title{
  position: relative;
  line-height: 1;
  display: inline-block;
  vertical-align: top;
  padding: 84px 0 35px;
  background: url(../img/main_hotdeal_border.png) no-repeat 50% 100%;
}
.hot-deal .hotdeal-txtbox .main-title h3{
  display: inline-block;
  vertical-align: bottom;
  padding: 0 0 0 76px;
  color: #002e6a !important;
  background: url(../img/main_hotdeal_title.png) no-repeat 0 50%;
}
.hot-deal .hotdeal-txtbox .main-title button{
  display: inline-block;
  vertical-align: bottom;
  margin: 0 0 0 31px;
  padding: 0;
  color: #151515;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  border: 0;
}
.hot-deal .hotdeal-imgbox{
  position: absolute;
  right: 44px;
  top: 83px;
  width: 53%;
}
.main-box3{
  margin:100px 0 0;
}
.best{
  background: url(../img/main_best_wave_bg.png) no-repeat 50%;
}
.btn-goods-more{
  position: absolute;
  bottom: 0;
  right: 0;
}