/* 노멀라이징 */
*{
    margin: 0 ;
    padding: 0 ;
  }
  ul , li{
    list-style: none ;
  }
  a{
    color: inherit ;
    text-decoration: none ;
  }
  /* 라이브러리 */
  .cell{
    float: left ;
  }
  .row::after{
    clear: both;
    content: "" ;
    display: block ;
  }
/* 스타일 */
.header-banner{

}
.header-main-wrap{
  max-width: 1600px;
  margin: 0 auto;
  background-color: #ddd;
  position: relative;
}
.header-main-wrap>.header-main{
  text-align: center;
}
.header-main-wrap>.header-main>.left{
  position: absolute;
  left: 0;
  top: 0;
}
.header-main-wrap>.header-main>.left>ul>li{
  margin-right: 10px;
  margin-top: 20px;
}
.header-main-wrap>.header-main>.left>ul>li:last-child{
  margin-right: 0px;
}
.header-main-wrap>.header-main>.left>ul>li>a{
  margin-top: 10px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}
.header-main-wrap>.header-main>.logo{
  display: inline-block;
  position: relative;
  padding-top: 24px;
}
.header-main-wrap>.header-main>.right{
  width: 180px;
  height: 59px;
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
}
.header-main-wrap>.header-main>.nav-bar>.all-menu-box+a{

}
.nav-bar{
  top: -6px;
  background-color: skyblue;
  position: relative;
  font-size: 20px;
}
.nav-bar>.nav-left{
  margin-right: 10px;
}
.nav-bar>.nav-left>ul>li{
  margin-right: 10px;
  margin-left: 10px;
}
.nav-bar>.nav-right>ul>li{
  margin-right: 10px;
  margin-left: 10px;
}
.nav-bar>.nav-right>ul>li>a{
  color: #1864b2
}
.nav-bar>.business-box{
  float: right;
  background-color: green;
  color: white;
  vertical-align: middle;
}
.nav-menu-wrap{
  display: none;
}
.nav-menu-wrap.active{
  display: block;
}
.nav-menu{
  width: 100%;
  height: 329px;
  background-color: gray;
}
.nav-menu .left-box{
  width: 50%;
}
.nav-menu .left-box>ul>li{
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}
.nav-menu .left-box>ul>li>ul>li{
  padding-top: 20px;
}
.nav-menu .right-box{
  width: 50%;
}
.nav-menu .right-box>ul>li{
  padding: 20px;
  box-sizing: border-box;
  font-size: 20px;
}
